
html
  padding 40px
  margin 0

body
  margin 0

.def
.example
  position relative
  height 200px
  width 100%
  top 0

[id$="stylus"].stylus
[id$="markup"].markup
  position relative
  top 0
  right 0px
  width 25%
  height 200px

.variables
  overflow hidden
  height 50px
div.ace_editor
  width 25%
div.ace-chrome .ace_gutter
  background transparent
  color transparent
div.ace_gutter-cell
  right 5px
  position relative
  border-right 1px solid #ccc
span.ace_fold-widget
  display none

iframe
  resize both
  //   minwidth 50%